Measure a machine’s heart - Đo điện tâm đồ máy.zip
Measure a machine’s heart : Đo điện tâm đồ máy - background gif.gif
Measure a machine’s heart : Đo điện tâm đồ máy - background.jpg
Measure a machine’s heart : Đo điện tâm đồ máy - README.md
.DS_Store
