* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 1.5vh;
}

remote-control,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-image: none;
    background-size: 100% 100%;
}

welcome---to---đo---điện---tâm---đồ---máy {
    display: block;
    padding: 20px;
    max-width: 200px;
    background-color: rgb(0, 187, 255);
}

remote-control {
    display: none;
    justify-items: center;
    align-items: center;
    gap: 20px 10px;
    width: 100%;
    height: 100%;
    grid-template: repeat(9, 1fr) / repeat(3, 1fr);
    padding: 10%;
}

remote-control button {
    max-width: 60px;
    width: 100%;
    height: 8vh;
    border-radius: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

remote-control button.left {
    justify-self: end;
}

remote-control button.right {
    justify-self: start;
}

remote-control button.top {
    align-self: start;
}

remote-control button.bot {
    align-self: end;
}

/*-----------*/

#b_3 {
    background-color: red;
    color: white;
    font-size: 3.5vh;
}

#b_19 {
    background-color: rgb(255, 72, 225);
}

#b_20 {
    background-color: rgb(1, 208, 255);
}

#b_21 {
    background-color: rgb(255, 234, 0);
}

/*-----------*/

#b_14 {
    max-width: none;
    max-height: none;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(47, 255, 0);
}

/*-----------*/

#b_10 {
    align-self: start;
    justify-self: start;
}

#b_10::after {
    left: 0;
    content: 'fail';
    top: -20px;
}

#b_12 {
    align-self: start;
    justify-self: end;
}

#b_12::after {
    right: 0;
    content: 'poor af';
    top: -20px;
}

#b_16 {
    align-self: end;
    justify-self: start;
}

#b_16::after {
    left: 0;
    content: 'OT';
    bottom: -20px;
}

#b_18 {
    align-self: end;
    justify-self: end;
}

#b_18::after {
    right: 0;
    content: 'peer pressure';
    bottom: -20px;
}

remote-control .b_small {
    max-width: 40px;
    max-height: 40px;
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
    position: relative;
    background-color: orange;
}

remote-control .b_small::after {
    position: absolute;
    word-break: keep-all;
    white-space: nowrap;
    color: white;
    opacity: 100%;
}

remote-control .b_small[disabled]::after {
    opacity: 50%;
}

/*-----------*/

#b_11 {
    align-self: end;
}

#b_11 button {
    border-radius: 30px 30px 0 0;
}

#b_17 {
    align-self: start;
}

#b_17 button {
    border-radius: 0 0 30px 30px;
}

#b_13 {
    justify-self: end;
}

#b_13 button {
    border-radius: 30px 0 0 30px;
}

#b_15 {
    justify-self: start;
}

#b_15 button {
    border-radius: 0 30px 30px 0;
}

.b_ray.chung {
    width: 0;
    display: flex;
    justify-content: center;
}

.b_ray.chung button {
    max-width: none;
    width: 50vw;
    flex-shrink: 0;
}

.b_ray.chung_ {
    max-width: 60px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
}

.b_ray.chung_ button {
    width: 100%;
    height: 35vw;
    flex-shrink: 0;
}

/*----------------------
welcome---to---ngu---trong---phong---thu {
    display: none;
}

remote-control {
    display: grid;
}

body {
    background-image: url('remote.jpg');
}
*/

for-mobile {
    display: none;
}

@media (hover: none) and (pointer: coarse) {
    body * {
        display: none;
    }
    body for-mobile {
        display: block;
    }
}
