* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: 600;
}

html {
    transition: margin 0.5s;
}

remote-control,
body {
    display: flex;
    justify-content: center;
}

body {
    background-image: none;
    justify-content: unset;
    background-size: 100% 100%;
    overflow-x: hidden;
}

main {
    width: calc(50% - 15px);
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.37),
        inset -7px -7px 15px rgb(255, 255, 255);
    overflow-x: hidden;
}

main img {
    max-width: 50em;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.37),
        inset -7px -7px 15px rgb(255, 255, 255);
    position: relative;
}
main * {
    max-width: 100%;
}
main iframe {
    width: 100%;
}
main p {
    font-weight: 400;
    max-width: 50em;
}
welcome---to---đo---điện---tâm---đồ---máy,
for-mobile {
    display: block;
    position: fixed;
    right: 25%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 20px;
    max-width: min(300px, calc(50% - 30px));
    color: black;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
    box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.37),
        inset -7px -7px 15px rgb(255, 255, 255);
}

welcome---to---đo---điện---tâm---đồ---máy div {
    font-weight: 400;
}

welcome---to---đo---điện---tâm---đồ---máy b,
h1 {
    font-weight: bolder;
}

h2 {
    font-weight: 700;
}

welcome---to---đo---điện---tâm---đồ---máy a {
    color: white;
}

remote-control {
    display: none;
    justify-items: center;
    align-items: center;
    gap: 20px 10px;
    width: 100%;
    height: 100%;
    grid-template: repeat(9, 1fr) / repeat(3, 1fr);
    padding: 8%;
}

remote-control button {
    max-width: 60px;
    width: 100%;
    height: 8vh;
    border-radius: 30px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.3vh;
}

remote-control button:active:not([disabled]) {
    opacity: 50%;
}

remote-control button:disabled {
    opacity: 50%;
}

remote-control button.left {
    justify-self: end;
}

remote-control button.right {
    justify-self: start;
}

remote-control button.top {
    align-self: start;
}

remote-control button.bot {
    align-self: end;
}

/*-----------*/

#b_3 {
    background-color: red;
    color: white;
}

#b_23 {
    background-color: rgb(255, 72, 225);
}

#b_24 {
    background-color: rgb(1, 208, 255);
}

#b_22 {
    background-color: rgb(255, 234, 0);
}
/*-----------*/

#b_22.pressed,
#b_23.pressed,
#b_24.pressed {
    background-color: rgb(47, 255, 0);
}

#b_19,
#b_20,
#b_21 {
    background-color: blanchedalmond;
}

/*-----------*/

#b_14 {
    max-width: none;
    max-height: none;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(47, 255, 0);
    font-weight: 700;
}

#b_14.pressed {
    background-color: rgb(255, 94, 0);
    color: white;
}

#b_14::after {
    content: 'Start';
}

#b_14.pressed::after {
    content: 'Stop';
}

/*-----------*/

#b_10 {
    align-self: start;
    justify-self: start;
}

#b_10::after {
    left: 0;
    content: 'fail';
    top: -20px;
}

#b_12 {
    align-self: start;
    justify-self: end;
}

#b_12::after {
    right: 0;
    content: 'poor af';
    top: -20px;
}

#b_16 {
    align-self: end;
    justify-self: start;
}

#b_16::after {
    left: 0;
    content: 'OT';
    bottom: -20px;
}

#b_18 {
    align-self: end;
    justify-self: end;
}

#b_18::after {
    right: 0;
    content: 'peer pressure';
    bottom: -20px;
}

remote-control .b_small {
    max-width: 40px;
    max-height: 40px;
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
    position: relative;
    background-color: orange;
}

remote-control .b_small::after {
    position: absolute;
    word-break: keep-all;
    white-space: nowrap;
    color: white;
    opacity: 100%;
}

remote-control .b_small[disabled]::after {
    opacity: 30%;
}

/*-----------*/

#b_11 {
    align-self: end;
}

#b_11 button {
    border-radius: 30px 30px 0 0;
}

#b_17 {
    align-self: start;
}

#b_17 button {
    border-radius: 0 0 30px 30px;
}

#b_13 {
    justify-self: end;
}

#b_13 button {
    border-radius: 30px 0 0 30px;
}

#b_15 {
    justify-self: start;
}

#b_15 button {
    border-radius: 0 30px 30px 0;
}

.b_ray.chung {
    width: 0;
    display: flex;
    justify-content: center;
}

.b_ray.chung button {
    max-width: none;
    width: 50vw;
    flex-shrink: 0;
}

.b_ray.chung_ {
    max-width: 60px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
}

.b_ray.chung_ button {
    width: 100%;
    height: 35vw;
    flex-shrink: 0;
}

/*----------------------
welcome---to---ngu---trong---phong---thu {
    display: none;
}

remote-control {
    display: grid;
}

body {
    background-image: url('remote.jpg');
}
*/

for-mobile {
    display: none;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

eyes {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

@media (hover: none) and (pointer: coarse) {
    body * {
        display: none;
    }
    body for-mobile {
        display: block;
    }
}
