:root {
    --vw: 1vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: 400;
}

a::after {
    content: ' \2197\00FE0E';
}

a {
    color: green;
}

html {
    transition: margin 0.5s;
}

remote-control,
body {
    display: flex;
    justify-content: center;
}

body {
    background-image: none;
    justify-content: unset;
    background-size: 100% 100%;
    overflow-x: hidden;
}

main {
    max-width: min(50%, calc(50% - 20vw));
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 20vw);
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
    overflow-y: scroll;
}

main img,
welcome---to---measure---a---machine---heart,
main {
    box-shadow: inset 7px 7px 10px rgba(0, 0, 0, 0.17),
        inset -7px -7px 10px rgb(255, 255, 255);
}

main img {
    max-width: 50em;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
main * {
    max-width: 100%;
}
main iframe {
    width: 100%;
}
main p {
    max-width: 50em;
}
welcome---to---measure---a---machine---heart {
    display: block;
    position: fixed;
    right: 25%;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 1em;
    max-width: min(300px, calc(50% - 20vw));
    color: black;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
}

h1 {
    font-weight: 600;
    font-size: 1.8em;
    line-height: 1em;
}

welcome---to---measure---a---machine---heart b {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1em;
}

welcome---to---measure---a---machine---heart a {
    color: white;
}

remote-control {
    display: none;
    justify-items: center;
    align-items: center;
    gap: 20px 10px;
    width: 100%;
    height: 100%;
    grid-template: repeat(9, 1fr) / repeat(3, 1fr);
    padding: calc(8 * var(--vw));
}

remote-control * {
    text-shadow: 0.1em 0 0.2em rgba(255, 255, 255, 0.677),
        -0.1em 0 0.2em rgba(73, 73, 73, 0.492);
    color: black;
}

remote-control button {
    max-width: 60px;
    width: 100%;
    height: 8vh;
    height: 8svh;
    border-radius: 30px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.5vh;
    font-size: 1.5svh;
    background: linear-gradient(
        90deg,
        rgba(142, 142, 142, 0.3) 0%,
        rgba(255, 255, 255, 0.45) 51%,
        rgba(154, 154, 154, 0.3) 100%
    );
    background-color: white;
}

remote-control button:active:not([disabled]) {
    opacity: 50%;
}

remote-control button:disabled {
    opacity: 20%;
}

remote-control button.left {
    justify-self: end;
}

remote-control button.right {
    justify-self: start;
}

remote-control button.top {
    align-self: start;
}

remote-control button.bot {
    align-self: end;
}

/*-----------*/

#b_22,
#b_23,
#b_24,
#b_14,
#b_3 {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.148) 51%,
        rgba(255, 255, 255, 0) 100%
    );
}
#b_3 {
    background-color: red;
    color: rgb(162, 20, 20);
    font-size: 3em;
    line-height: 0;
}

#b_3::after {
    content: '\21BB\FE0E';
}

#b_23 {
    background-color: rgb(255, 134, 235);
    color: rgb(57, 16, 50);
}

#b_24 {
    background-color: rgb(1, 208, 255);
    color: rgb(0, 62, 76);
}

#b_22 {
    background-color: rgb(255, 234, 0);
    color: rgb(71, 65, 0);
}
/*-----------*/

#b_22.pressed,
#b_23.pressed,
#b_24.pressed {
    background-color: rgb(47, 255, 0);
}

#b_19,
#b_20,
#b_21 {
    background-color: blanchedalmond;
    color: rgb(136, 120, 96);
}

/*-----------*/

#b_14 {
    max-width: none;
    max-height: none;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(47, 255, 0);
    font-weight: 600;
    font-size: 1.3em;
    line-height: 0;
}

#b_22.pressed,
#b_23.pressed,
#b_24.pressed,
#b_14.pressed {
    background-color: rgb(255, 94, 0);
    color: white;
}

#b_14::after,
#b_3::after {
    filter: blur(1px);
}

#b_14::after {
    content: 'play';
    color: rgb(36, 198, 0);
    text-shadow: -0.2em 0 0.3em rgb(183, 255, 169),
        0.1em 0 0.2em rgba(96, 96, 96, 0.43);
}

#b_14.pressed::after {
    content: 'stop';
    color: rgb(180, 66, 1);
    text-shadow: -0.05em 0 0.2em rgb(255, 172, 121),
        0.1em 0 0.2em rgba(73, 73, 73, 0.492);
}

/*-----------*/

#b_10 {
    align-self: start;
    justify-self: start;
}

#b_10::after {
    left: 0;
    content: 'overwork';
    transform: rotate(-4deg);
    top: -20px;
}

#b_12 {
    align-self: start;
    justify-self: end;
}

#b_12::after {
    right: 0;
    content: 'toxicity';
    transform: rotate(-20deg);
    top: -20px;
}

#b_16 {
    align-self: end;
    justify-self: start;
}

#b_16::after {
    left: 0;
    content: 'loneliness';
    transform: rotate(10deg);
    bottom: -20px;
}

#b_18 {
    align-self: end;
    justify-self: end;
}

#b_18::after {
    right: 0;
    content: 'peer pressure';
    transform: rotate(5deg);
    bottom: -20px;
}

remote-control .b_small {
    max-width: 40px;
    max-height: 40px;
    width: calc(13 * var(--vw));
    height: calc(13 * var(--vw));
    border-radius: 20px;
    position: relative;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(255, 255, 255, 0.328) 51%,
        rgba(0, 0, 0, 0.3) 100%
    );
    background-color: black;
    color: white;
}

remote-control .b_small::after {
    position: absolute;
    word-break: keep-all;
    white-space: nowrap;
    color: white;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.328);
    padding: 0.2em 0.5em;
}

remote-control .b_small::after,
remote-control .b_small,
#b_22.pressed,
#b_23.pressed,
#b_24.pressed {
    text-shadow: -0.1em 0 0.2em rgba(0, 0, 0, 0.467),
        0.1em 0 0.2em rgba(37, 37, 37, 0.645);
}

remote-control .b_small[disabled]::after {
    opacity: 30%;
}

/*-----------*/

#b_11 {
    align-self: end;
}

#b_11 button {
    border-radius: 30px 30px 0 0;
}

#b_17 {
    align-self: start;
}

#b_17 button {
    border-radius: 0 0 30px 30px;
}

#b_13 {
    justify-self: end;
}

#b_13 button {
    border-radius: 30px 0 0 30px;
}

#b_15 {
    justify-self: start;
}

#b_15 button {
    border-radius: 0 30px 30px 0;
}

.b_ray.chung {
    width: 0;
    display: flex;
    justify-content: center;
}

.b_ray.chung button {
    max-width: none;
    width: calc(50 * var(--vw));
    flex-shrink: 0;
}

.b_ray.chung_ {
    max-width: 60px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
}

.b_ray.chung_ button {
    width: 100%;
    height: calc(35 * var(--vw));
    flex-shrink: 0;
}

eyes {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

@media (hover: none) and (pointer: coarse) {
    body {
        touch-action: pan-x pan-y;
        --vw: calc(1vh * 320 / 950);
        width: calc(var(--vw) * 100);
        overflow: hidden;
        margin: 0 auto;
        transition: padding 0.5s;
    }

    welcome---to---measure---a---machine---heart,
    main {
        display: none !important;
    }

    remote-control {
        display: grid !important;
        background-image: url('remote.jpg') !important;
        background-size: 100% 100%;
        height: 100svh;
        padding: calc(var(--vw) * 8);
    }
}
